* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #34495e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding-top: 2px;
    text-align: center;
}

div span {
    width: 20px;
    height: 20px;
    border-bottom: 3px solid rgb(20, 20, 82);
    padding: 14px;
    margin: 3px;
    font-weight: bold;
}

.duplicate_alert {
    background-color: rgba(20, 20, 82, 0.534);
    color: white;
    position: fixed;
    bottom: 0;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: -100%;
}

.show_alert {
    bottom: 0%;
}

.gameOver_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.gameOver {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2980b9;
    border-radius: 8px;
    padding: 30px 20px 30px 20px;
    min-width: 380px;
    text-align: center;
}

.gameOver_container .gameOver h2 {
    margin-top: 0;
}

.button {
    padding: 10px 15px;
    font-size: small;
    color: #2980b9;
}

.wrong {
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}

.wrong h3,
p {
    margin: 0px;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    height: 250px;
}

.body-part {
    display: none;
}

.show-body-part {
    display: block;
}

/* You Won container */
.won_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.won {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2980b9;
    border-radius: 8px;
    padding: 30px 20px 30px 20px;
    min-width: 380px;
    text-align: center;
}

.won_container .won h2 {
    margin-top: 0;
}